body {
    margin: 0px;
    text-align: center;
  }
  
  h1 {
    font-size: 45px;
    margin: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #1a124c;
    line-height: normal;
  }

  h2 {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 2.5rem;
    margin: 30px;
    color: #1a24e2;
    padding-bottom: 10px;
  }

  h3 {
    color: #443dba;
    font-family: 'Merriweather Sans', sans-serif;
    padding-bottom: 10px;
  }

  hr {
    border: dotted gray 6px;
    border-bottom: none;
    width: 10%;
    margin: 100px auto;
  }

  p {
    color: #414141;
    font-family: cursive;
    padding-bottom: 10px;
  }

  .pa {
    width: 30%;
    margin: auto;
    line-height: 2;
  }

  .skill-row {
    width: 50%;
    margin: auto;
    text-align: left;
    line-height: 2;
    padding: 30px;
  }

  .skill-rows {
    width: 50%;
    margin: auto auto 0 auto;
    text-align: left;
    line-height: 2;
    padding: 30px;
  }

  .me {
    font-size: 1rem;
    font-weight: normal;
  }

  .books {
    width: 30%;
    height: 50%;
    float: right;
    margin: 50px;
  }

  .img1 {
    width: 30%;
    height: 50%;
    float: left;
    margin: 50px;
  }

  .pro{
      border-radius: 50%;
  }

  .cloud1 {
    position: relative;
    left: 250px;
    bottom: 20px;
  }

  .cloud2{
        position: absolute;
        left: 350px;
  }

  .container1 {
    background-color: #93b5b3;
    padding-top: 50px;
    position: relative;
  }

  .btn {
    background: #0d9bfa;
    background-image: -webkit-linear-gradient(top, #0d9bfa, #294557);
    background-image: -moz-linear-gradient(top, #0d9bfa, #294557);
    background-image: -ms-linear-gradient(top, #0d9bfa, #294557);
  background-image: -o-linear-gradient(top, #0d9bfa, #294557);
  background-image: linear-gradient(to bottom, #0d9bfa, #294557);
  -webkit-border-radius: 16;
  -moz-border-radius: 16;
  border-radius: 16px;
  font-family: Arial;
  color: #fafafa;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 10px auto 20px auto;
  }

  .btn:hover {
    background: #0cedf5;
    background-image: -webkit-linear-gradient(top, #060808, #1a2222);
    background-image: -moz-linear-gradient(top, #060808, #1a2222);
    background-image: -ms-linear-gradient(top, #060808, #1a2222);
    background-image: -o-linear-gradient(top, #060808, #1a2222);
    background-image: linear-gradient(to bottom, #060808, #1a2222);
    text-decoration: none;
  }

  .footer-link {
    color: white;
    margin: 20px;
    text-decoration: none;
  }

  .footer-link:hover {
    color: #1b7fbd;
  }

  .end {
    position: relative;
    top: 40px;
    font-size: 00.75em;
  }

  .container2 {
    margin-top: 20px;
  }
  
  .container3 {
    background-color: #66BFBF;
    padding: 30px;
  }